<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>振込確認画面</title>
</head>
<body>
<h1>振込確認画面</h1>
<form action="#" th:action="@{/bankTransferCompletion}" th:object="${bankTransferApplication}" method="post">
    <p>金融機関名:<br><div class="box"><span th:text="*{bankName}"></span> 銀行<input type="checkbox" onchange="change()" class="checkbox" id="check1" value="atai"></div> </p>
    <p>支店名: <br><div class="box"><span th:text="*{bankBranchName}"></span>  <input type="checkbox" onchange="change()" class="checkbox" id="check2" value="atai"></div></p>
    <p>科目名: <br><div class="box"><span th:text="*{bankSubjectName}"></span> 預金 <input type="checkbox" onchange="change()" class="checkbox" id="check3" value="atai"></div></p>
    <p>口座番号: <br><div class="box"><span th:text="*{bankAccountNum}"></span> <input type="checkbox" onchange="change()" class="checkbox" id="check4" value="atai"></div></p>
    <p>口座名義: <br><div class="box"><span th:text="*{bankAccountName}"></span> <input type="checkbox" onchange="change()" class="checkbox" id="check5" value="atai"></div></p>
    <p>金額: <br><div class="box"><span th:text="*{money}"></span> 円 <input type="checkbox" onchange="change()" class="checkbox" id="check6" value="atai"></div></p>
    <p>振込指定日: <br><div class="box"><span th:text="*{transferDate}"></span> <input type="checkbox" onchange="change()" class="checkbox" id="check7" value="atai"></div></p>
    <input type="hidden" name="bankAccountNum" th:value="*{bankAccountNum}"/>
    <input type="hidden" name="bankName" th:value="*{bankName}" />
    <input type="hidden" name="bankBranchName" th:value="*{bankBranchName}" />
    <input type="hidden" name="bankSubjectName" th:value="*{bankSubjectName}" />
    <input type="hidden" name="bankAccountName" th:value="*{bankAccountName}" />
    <input type="hidden" name="money" th:value="*{money}" />
    <input type="hidden" name="transferDate" th:value="*{transferDate}" />

    <!--<script th:inline="javascript">
        /*<![CDATA[*/
        function showMessage(){
         var message = "振込みしますか？";
         alert(message);
        }
        /*]]>*/
    </script>-->

    <!--<script type="text/javascript" src="main.js"></script>
    <input type="button" value="振込み" onclick="main();"/>
    <script>
        function main()
        {
        var flag = confirm("振り込みますか？");
        if (flag == true)
        {
        <input type ="submit" value="振込み">
        alert("振り込みました");
        }
        else if (flag == false)
        {
        alert ("キャンセルしました")
        }
        }
    </script>
    <button onclick="confirm('振込みしますか')">振込する</button>-->
        <p>
            <input id="test" disabled type="submit" value="振込" style="font-size:20px;" class="button"  />
            <input type="button" value="キャンセル" style="font-size:20px;" class="button" onclick="window.location='/bankTransfer';"/>
        </p>
    <script type="text/javascript">
        function change() {
          if  ((document.getElementById("check1").checked)
            && (document.getElementById("check2").checked)
            && (document.getElementById("check3").checked)
            && (document.getElementById("check4").checked)
            && (document.getElementById("check5").checked)
            && (document.getElementById("check6").checked)
            && (document.getElementById("check7").checked))
          {
            document.getElementById("test").disabled = false;

          } else {
            document.getElementById("test").disabled = true;
          }
        }
    </script>
        <script th:inline="javascript">
            console.log("A")
            const submitButton = document.getElementById("test")
            submitButton.addEventListener('click', (e) => {
              console.log("B")
              if (!confirm("振り込みますか？")) {
                e.preventDefault();
              }
            }, false)
    </script>
    <!--<script>
        function checkForm() {
              var namae1 = document.getElementById("namae1");
              var namae2 = document.getElementById("namae2");
              var namae3 = document.getElementById("namae3");
              var namae4 = document.getElementById("namae4");
              var namae5 = document.getElementById("namae5");
              var namae6 = document.getElementById("namae6");
              var namae7 = document.getElementById("namae7");
              if (namae1.value === "" || namae2.value === "" || namae3.value === "" || namae4.value === "" || namae5.value === "" || namae6.value === "" || namae7.value === ""){
              alert("未入力の項目があります");
                return false;
              }
              return true;

    </script> -->
</form>
<div class="container">
    <div class="child"></div>
</div>
<style>
    h1 { text-align: center }
    p { text-align: center;
    font-size: 20px;
    line-height: 10px;}
    span {line-height: 5px;}
    .checkbox1 { text-align: center;
    width: 15px;
	height: 15px;}
    .button{
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #68779a;
    background: #cbe8fa;
    cursor: pointer;}
    .box {margin:  0 auto;
     justify-content: center;
     border: #4e7bcc 1px solid; /*境界線の指定*/
     padding:2px;
     text-align: center;
     width: 400px;
     }
    .box span {
     margin:0;
     padding:0;
}
</style>
</style>
</body>
</html>