<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>振込フォーム</title>
</head>
<body>
<h1>振込フォーム</h1>
<form action="#" th:action="@{/confirmation}" th:object="${bankTransferApplication}" method="post">
    <p>金融機関名: <select th:field="*{bankName}">
        <option th:each="option : ${nameOptions}"
                th:value="${option}"
                th:text="${option}">選択肢
        </option>
    </select></p>
    <p>口座番号: <input type="number" th:field="*{bankAccountNum}"/></p>
    <p><input type="submit" value="確認"/> <input type="reset" value="クリア"/></p>
</form>
</body>

</html>