<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>振込一覧</title>
</head>
<body>
<h1>振込一覧</h1>
<table>
    <thead>
    <tr>
        <th>口座番号</th>
        <th>お客様名</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="BankTransferHistories : ${BankTransferHistories}">
        <td th:text="${BankTransferHistories.accountNum}">Account Number</td>
        <td th:text="${BankTransferHistories.name}">Name</td>
    </tr>
    </tbody>
</table>
</body>

</html>