<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>振込履歴画面</title>
</head>
<body>
<h1>振込履歴</h1>
<table>
    <thead>
    <tr>
        <th>金融機関名</th>
        <th>口座番号</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="BankTransferHistories : ${BankTransferHistories}">
        <td th:text="${BankTransferHistories.bankName}"></td>
        <td th:text="${BankTransferHistories.bankAccountNum}"></td>
    </tr>
    </tbody>
</table>
<p><input type="button" value="振込に戻る" onclick="window.location='/bankTransfer';"/></p>
</body>

</html>