<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>振込確認画面</title>
</head>
<body>
<h1>振込確認画面</h1>
<form action="#" th:action="@{/puting}" th:object="${greeting}" method="post">
    <p>口座番号: <span th:text="*{accounNum}"></span></p>
    <input type="hidden" name="accounNum" th:value="*{accounNum}"/>
    <p>お名前: <span th:text="*{name}"></span></p>
    <input type="hidden" name="name" th:value="*{name}" readonly/>

    <p><input type="submit" value="振込" /> <input type="reset" value="キャンセル" /></p>
</form>
</body>
</html>