<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ローン申込確認画面</title>
</head>
<body>
<h1>ローン申込確認画面</h1>
<form action="#" th:action="@{/bankLoanCompletion}" th:object="${bankLoanApplication}" method="post">
    <p>金融機関名: <span th:text="*{bankName}"></span></p>
    <p>支店名: <span th:text="*{branchName}"></span></p>
    <p>科目名: <span th:text="*{bankKinds}"></span></p>
    <p>口座番号: <span th:text="*{bankAccountNum}"></span></p>
    <p>債務者名: <span th:text="*{name}"></span></p>
    <p>借入金額: <span th:text="*{loanAmount}"></span></p>
    <p>借入年収: <span th:text="*{annualIncome}"></span></p>
    <p>金利: <span th:text="*{interestRate}"></span></p>
    <input type="hidden" name="bankName" th:value="*{bankName}" />
    <input type="hidden" name="branchName" th:value="*{branchName}" />
    <input type="hidden" name="bankKinds" th:value="*{bankKinds}"/>
    <input type="hidden" name="bankAccountNum" th:value="*{bankAccountNum}"/>
    <input type="hidden" name="name" th:value="*{name}" />
    <input type="hidden" name="loanAmount" th:value="*{loanAmount}"/>
    <input type="hidden" name="annualIncome" th:value="*{annualIncome}"/>
    <input type="hidden" name="interestRate" th:value="*{interestRate}"/>
    <p>
        <input id="test" type="submit" value="申込"/>
        <input type="button" value="キャンセル" onclick="window.location='/bankLoan';"/>
    </p>
</form>

<script th:inline="javascript">
    console.log("A")
    const submitButton = document.getElementById("test")
    submitButton.addEventListener('click', (e) => {
      console.log("B")
      if (!confirm("操作を実行します")) {
        e.preventDefault();
      }
    }, false)
</script>
</body>
</html>